@media (min-width:320px) and (max-width:360px) {
  table { width: 100%; }
  html { font-size: 15px; }
  .reload {	transform: scale(0.5); }
}
@media (min-width:360px) and (max-width:760px) {
  table { width: 100%; }
  html { font-size: 17px; }
  .reload {	transform: scale(0.8); }
}
@media (min-width:760px) {
  ul.tabs { width: 425!important; margin: 30 auto 5!important; }
  table { width : 425; }
  html { font-size: 20px; }
  #latestUpdate { width: 425; margin: 5 auto!important; }
  #rainbowBlockBox { width: 425; margin: 5 auto!important; }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

input {
  margin: 0 0 0 10;
  text-align: center
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
 -ms-user-select: none;
 -moz-user-select: -moz-none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 user-select:none;
 -webkit-tap-highlight-color: transparent;
 -ms-overflow-style: none;
  font-family: 'Nanum Gothic', sans-serif;
}

/*
body {
        background: url('/ajoumeow/Resources/Images/christmas.png') no-repeat;
        background-size: cover;
}
*/

tr {
  height: 1.3rem;
  font-size: 0.813rem;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.125rem 0.188rem 0.125rem 0.188rem;
  text-align: center;
}
.waffle tr { height: 1.8rem; }

.container {
  width: 100%;
  margin: 0 auto;
}

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 0.6rem 0.938rem;
  cursor: pointer;
}
ul.tabs li.current {
  border-radius: 0.5rem;
  background: #ededed;
  color: #222;
}
.tab-content { display: none; }
.tab-content.current { display: inherit; }

.ext {
  background: url(/ajoumeow/Resources/Images/Resized/external.png) no-repeat left center;
  padding-left: 14px;
}

.popup {
  color: #0366d6;
  cursor: pointer;
  text-decoration: underline;
}

.inputBox {
  padding: 5 0 5 0;
}

select { width: 150; height: 25; }
table { border-collapse: collapse; }
.waffle { margin: 7 auto 0; }

.thisWeek { background-color:#b6d7a8; }
.nextWeek { background-color: #a4c2f4; }
tr.nextWeek, .course { border-top: 0.063rem SOLID #999999; }
td.thisWeek, td.nextWeek { border-right: 0.063rem SOLID #999999; }
.focusing { background-color: #ffffaa }

.reload {
	transition: all 300ms;
	box-shadow: 0px 2px 1px rgba( 0, 0, 0, 0.1 );
	margin-left: -25px;
  margin-top: -25px;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
	height: 50px;
	width: 50px;
  top: 18px;
  right: 5px;
  
}
svg {
  transition: transform 500ms cubic-bezier(.85,-0.48,.26,.67);
  height: 100%;
  width: 100%;
}
@-webkit-keyframes rotating {
    from{ -webkit-transform: rotate(0deg); }
    to{ -webkit-transform: rotate(-180deg); }
}
.rotating { -webkit-animation: rotating 0.8s ease infinite; }

#alertify-cancel { display: none; }

.dogriver { animation-duration: 1s; animation-name: rainbowLink; animation-iteration-count: infinite; }
.ad       { animation-duration: 2s; animation-name: highlight;   animation-iteration-count: infinite; }
@keyframes rainbowLink {
 0% { background-color: #ff2a2a; color: #43ff2a; }
 15% { background-color: #ff7a2a; color: #2a89ff; }
 30% { background-color: #ffc52a; color: #202082; }
 45% { background-color: #43ff2a; color: #6b2aff; }
 60% { background-color: #2a89ff; color: #e82aff; }
 75% { background-color: #202082; color: #ff2a2a; }
 90% { background-color: #6b2aff; color: #ff7a2a; }
 100% { background-color: #e82aff; color: #ffc52a; }
}
@keyframes highlight {
 0% { color: #43ff2a; }
 15% { color: #2a89ff; }
 30% { color: #202082; }
 45% { color: #6b2aff; }
 60% { color: #e82aff; }
 75% { color: #ff2a2a; }
 90% { color: #ff7a2a; }
 100% { color: #ffc52a; }
}

.context-menu-icon-check {
  margin: 0 0 0 17;
  text-align: center;
  background: url(/ajoumeow/Resources/Images/check.svg) no-repeat;
  background-size: 13%;
  background-position: 1.4rem;
}
.context-menu-icon-del {
  margin: 5 0 5 10;
  text-align: right;
  background: url(/ajoumeow/Resources/Images/del.svg) no-repeat;
  background-size: 20%;
  background-position: 0.7rem;
}
.context-menu-icon-mod {
  margin: 0 0 0 17;
  text-align: center;
  background: url(/ajoumeow/Resources/Images/mod.svg) no-repeat;
  background-size: 13%;
  background-position: 1.4rem;
}

.ios { cursor: pointer; }

.sidebar_container {
  background: #ffffff;
  opacity: 10;
  height: 100%;
  width: 160px;
  position: fixed!important;
  z-index: 1;
  right: 0;
  top: 0;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.sidebar_overlay {
  /*background: rgba(150, 150, 150, 0.8);*/

  height: 100%;
  width: 100%;
}
.animate-right {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from { right: -300px; opacity: 0; }
  to { right: 0; opacity: 1; }
}
.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from { right: 0; opacity: 1; }
  to { right: -300px; opacity: 0; }
}
