body { font-family: 'Nanum Gothic' }

a[disabled="disabled"] { pointer-events: none; }
#dot {  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dotdotdot:after {
  content: '.\a0\a0\a0';
  animation: dots .75s linear infinite;
}

@keyframes dots {
  0%, 20% { content: '..\a0\a0' }
  40% { content: '...\a0' }
  60% { content: '....' }
  80%, 100% { content: '.\a0\a0\a0' }
}


table#currentMembersList td,
table#pastMembersList td,
table#newMemberList td { padding: .5rem }
table#serverlog td { padding: .5rem; word-break: break-all; }
table#statistics td { padding: .25rem }
table#statistics th { padding: .5rem }

.statisticsDate, .logDate {
  font-size: .8rem;
  padding: .2rem .4rem;
}

/* typeahead style */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint { color: #999; }

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 20ch;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  margin: 0;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p { margin: 0; }