@media (min-width:320px) and (max-width:360px) {
  table { width: 100%; }
  html { font-size: 15px; }
  #arrow { font-size: 17px; }
  .reload {	transform: scale(0.5); }
}
@media (min-width:360px) and (max-width:760px) {
  table { width: 100%; }
  html { font-size: 17px; }
  #arrow { font-size: 20px; }
  .reload {	transform: scale(0.8); }
}
@media (min-width:760px) {
  .modal-content { width: 740!important; }
  ul.tabs { width: 425!important; margin: 30 auto 5!important;}
  table { width : 425; height: 605; }
  html { font-size: 20px; }
  #tab-3 { height: 605; }
  #latestUpdate { width: 425; margin: 5 auto!important; }
  #rankModalContent { margin: 10% auto; }
  #mapModalContent { width: 500!important; margin: 5% auto; }
  #map { height: 100%; }
}
body { font-family: 'Malgun Gothic', serif; }
.container {
  width: 100%;
  margin: 0 auto;
}
ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 0.5rem 0.938rem;
  cursor: pointer;
}
ul.tabs li.current {
  background: #ededed;
  color: #222;
}
.tab-content { display: none; }
.tab-content.current { display: inherit; }
.formwrap {
  position: relative;
  width: 100%;
  height: 90%;
}
.formwrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 0.8rem;
  border: 0.063rem solid #888;
  width: 90%;
  max-height: 90%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.ext {
  background: url(/ajoumeyoumeow/Icons/Resized/external.png) no-repeat left center;
  padding-left: 14px;
}
.popup {
  color: #0366d6;
  cursor: pointer;
  text-decoration: underline;
}
.ritz .waffle a { color: inherit; }
.ritz .waffle .s3{border-top:0.125rem SOLID #000000;border-bottom:0.125rem SOLID #000000;border-right:0.125rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#ff9900;text-align:center;font-weight:bold;color:#ffffff;font-family:'Malgun Gothic';font-size:1.250rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s5{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#b6d7a8;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s6{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #999999;background-color:#b6d7a8;text-align:center;color:#b6d7a8;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s7{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#b6d7a8;text-align:center;color:#b6d7a8;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s8{border-bottom:0.063rem SOLID #b7b7b7;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s9{border-bottom:0.063rem SOLID #b7b7b7;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s10{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s11{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s12{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#b6d7a8;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s13{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s14{border-bottom:0.125rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s15{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#a4c2f4;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s16{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #999999;background-color:#a4c2f4;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s17{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#a4c2f4;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s18{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#a4c2f4;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s19{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#b4a7d6;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s20{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #999999;background-color:#b4a7d6;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s21{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#b4a7d6;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s22{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#b4a7d6;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s23{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#d5a6bd;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s24{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #999999;background-color:#d5a6bd;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s25{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#d5a6bd;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s26{border-bottom:0.063rem SOLID #b7b7b7;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s27{border-bottom:0.063rem SOLID #b7b7b7;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s28{border-bottom:0.063rem SOLID #000000;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s29{border-bottom:0.063rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s30{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #000000;border-left:0.125rem SOLID #000000;background-color:#d5a6bd;text-align:center;color:#000000;font-family:'Malgun Gothic';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s31{border-bottom:0.125rem SOLID #000000;border-right:0.063rem SOLID #b7b7b7;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}
.ritz .waffle .s32{border-bottom:0.125rem SOLID #000000;border-right:0.125rem SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'Arial';font-size:0.813rem;vertical-align:middle;white-space:nowrap;direction:ltr;padding:0.125rem 0.188rem 0.125rem 0.188rem;}

.menu,
.menu ul,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.menu li {
  position: relative;
  list-style: none;
  display: inline;
  height: 40px;
}
.menu li a {
  display: inline;
  padding: 0;
  margin: 0;
  line-height: 28px;
  text-decoration: none;
  border-left: 1px solid #393942;
  border-right: 1px solid #4f5058;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
.menu li:hover > a { color: #8fde62; }
.menu ul {
  display: inline;
  position: absolute;
  top: 25;
  left: 0;
  opacity: 0;
  background: #1f2024;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
}
.menu li:hover > ul { opacity: 1; }
.menu ul li {
  display: inline;
  height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: height .25s ease .1s;
  -moz-transition: height .25s ease .1s;
  -o-transition: height .25s ease .1s;
  -ms-transition: height .25s ease .1s;
  transition: height .25s ease .1s;
}
.menu li:hover > ul li {
  display: inline;
  height: 36px;
  overflow: visible;
  padding: 0;
}
.menu ul li a {
  display: inline;
  width: 100px;
  padding: 4 0;
  margin: 10;
  border: none;
  border-bottom: 1px solid #353539;
}
.menu ul li:last-child a { border: none; }

.reload {
	transition: all 300ms;
	box-shadow: 0px 2px 1px rgba( 0, 0, 0, 0.1 );
	margin-left: -25px;
  margin-top: -25px;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
	height: 50px;
	width: 50px;
  top: 18px;
  right: 5px;
}
svg {
  transition: transform 500ms cubic-bezier(.85,-0.48,.26,.67);
  height: 100%;
  width: 100%;
}
@-webkit-keyframes rotating {
    from{ -webkit-transform: rotate(0deg); }
    to{ -webkit-transform: rotate(-180deg); }
}
.rotating { -webkit-animation: rotating 0.8s ease infinite; }
