[Unit]
Description=Ajoumeow Backend Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/var/web/ajoumeow/server
ExecStart=/usr/bin/npx babel-node index.js
Restart=always

[Install]
WantedBy=multi-user.target
