[Unit]
Description=Ajoumeow Backend Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ExtHDD/ajoumeow/server
ExecStart=node /home/pi/ExtHDD/ajoumeow/server/server.js
Restart=always

[Install]
WantedBy=multi-user.target
